

@model SUPEN_Projekt.Models.ViewModel3

<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<h2>@ViewBag.Message</h2>

<table class="table">

    <tr>
        <th>
            Name
        </th>
    </tr>

    @foreach (var i in Model.services)
    {

	<tr>
		<td>
			@i.ServiceName
		</td>
		<td>

			@Ajax.ActionLink("Book here", "CreateBooking", new { id = Model.bookingSystem.BookingSystemId, name = i.ServiceName},
		new AjaxOptions {
			UpdateTargetId = "createbooking",
			InsertionMode = InsertionMode.Replace,
			HttpMethod = "GET" },
		new { @class = "btn bnt-primary"})


		</td>
		@*<td>@Html.ActionLink("Book Here", "CreateBooking", new { id = Model.bookingSystem.BookingSystemId, name = i.ServiceName }, null)</td>*@

			@foreach (var y in i.Bookings) {


		<td>
			<button type="button" class="btn btn-secondary btn-sm">@y.StartTime.ToString("HH:mm")<b>-</b>@y.EndTime.ToString("HH:mm")</button>
		</td>
				



			}




	</tr>

    }

</table>
<div id="createbooking">
</div>








