@model SUPEN_Projekt.Logic.ViewModels.BookingSystemServiceBookingViewModel
	

@{
    ViewBag.Title = "Update";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
	<h3><b>Fyll i dina uppgifter</b></h3>
   
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => Model.booking.BookingId)
    @Html.HiddenFor(model => Model.booking.Available)
    @Html.HiddenFor(model => Model.booking.StartTime)
    @Html.HiddenFor(model => Model.booking.EndTime)
    @Html.HiddenFor(model => Model.booking.Date)
    @Html.HiddenFor(model => Model.booking.Price)
  
    @Html.HiddenFor(model => Model.bookingSystem)
    @Html.HiddenFor(model => Model.service)

    <div class="form-group">

        @Html.LabelFor(model => model.booking.UserName, "Namn", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.booking.UserName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => Model.booking.UserName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.booking.UserMail, "E-post", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.booking.UserMail, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => Model.booking.UserMail, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.booking.UserMobile, "Mobilnummer", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.booking.UserMobile, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => Model.booking.UserMobile, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Boka" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Tillbaka", "Index")
</div>
