@model SUPEN_Projekt.Models.Booking


<div class="container-fluid">
    <div class=" row"></div>
    <div class="row">
        
        <hr />
        <div class="col-lg-4" style="background-color:white;">
            <h4>Booking details</h4>
            <div>
                <hr />
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <p class="list-group-item-text" style="font-weight: bold">@Html.DisplayFor(model => model.UserName)</p>
                        <p class="list-group-item-text">@Html.DisplayFor(model => model.UserMail)</p>
                        <p class="list-group-item-text">@Html.DisplayFor(model => model.UserMobile)</p>
                        <p class="list-group-item-text">@Html.DisplayFor(model => model.Subject)</p>
                        <p class="list-group-item-text">@Html.DisplayFor(model => model.StartTime)</p>
                        <p class="list-group-item-text">@Html.DisplayFor(model => model.EndTime)</p>
                        <p class="list-group-item-text">@Html.DisplayFor(model => model.Date)</p>
                    </a>
                    <p>
                        @Html.ActionLink("Exit", "ABookingSystem", new { id = Model.BookingSystemId })
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-2" style="background-color:white">
        </div>

        <div class="col-lg-6" style="background-color:white;">
            <h4>Services in the neighborhood</h4>
            <div>
                @{Html.RenderAction("RelevantBookingSystems", "BookingSystem",
                                      new { bookingSystemId = Model.BookingSystemId, serviceId = Model.ServiceId });}
                </div>
            </div>
            <div class="row"></div>

        </div>
  </div>


