@model SUPEN_Projekt.Models.Booking

@{
    ViewBag.Title = "Details2";
}
<div class="container-fluid">
    <h4>Booking details</h4>
    <p>Resize the browser window to see the effect.</p>
    <p>The columns will automatically stack on top of each other when the screen is less than 768px wide.</p>
    <div class="row">
        <div class="col-sm-4" style="background-color:lavender;">
            .col-sm-4
            <div>
                <hr />
                <dl class="dl-horizontal">

                    <dt>
                        @Html.DisplayNameFor(model => model.UserName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.UserName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.UserMail)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.UserMail)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.UserMobile)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.UserMobile)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Subject)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Subject)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.StartTime)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.StartTime)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.EndTime)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.EndTime)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Date)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Date)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Price)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Price)
                    </dd>

                </dl>
            </div>
            <p>
                @Html.ActionLink("Exit", "ABookingSystem", new { id = Model.BookingSystemId })
            </p>
        </div>
        <div class="col-sm-8" style="background-color:lavenderblush;">.col-sm-8
        <h4>Services in the neighborhood</h4>
        </div>
    </div>
</div>

