@model SUPEN_Projekt.Logic.ViewModels.BookingSystemServiceBookingViewModel
@using System.Globalization;


@{
    ViewBag.Title = "Home Page";
    var dateformat = Model.booking.Date.ToString("d MMMM yyyy", new CultureInfo("sv-SE"));
}



<script type="text/javascript">
    $(window).on('load', function () {
        $('#myModal').modal('show');
});
</script>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Bokningsbekräftelse</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class=" row"></div>
                    <div class="row">
                        <div>
                            <div class="list-group">
                                <a href="#" class="list-group-item">
                                    <h5 class="list-group-item-text"><strong>@Html.DisplayFor(model => model.service.ServiceName)</strong> den @Html.DisplayFor(model => dateformat)</h5>
                                    <p class="list-group-item-text"><strong>Klockan:</strong> @Html.DisplayFor(model => model.booking.StartTime) - @Html.DisplayFor(model => model.booking.EndTime)</p>
                                    <p class="list-group-item-text"><strong>Pris: </strong>@Html.DisplayFor(model => model.service.Price) SEK</p>
                                    <br />
                                    <h5 class="list-group-item-text text-capitalize"><strong>@Html.DisplayFor(model => model.booking.UserName)</strong></h5>
                                    <p class="list-group-item-text">@Html.DisplayFor(model => model.booking.UserMail)</p>
                                    <p class="list-group-item-text">@Html.DisplayFor(model => model.booking.UserMobile)</p>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-2" style="background-color:white">
                        </div>
                        <div class="row"></div>
                        @if (Model.bookings != null && Model.bookings.Count() > 1 && Model.bookings.Where(x => x.BookingId != Model.booking.BookingId).Count() > 1)
{
    {
        Html.RenderAction("ServiceSuggestion", "Service", new
        {
            inBookingId = Model.booking.BookingId,
            inServiceName = Model.service.ServiceName,
            inBookingSystemName = Model.bookingSystem.CompanyName
        });
    }
}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="booking-confirmation-details">
					<p class="text-left">
						@Html.DisplayFor(model => model.bookingSystem.CompanyName)<br /><strong>Kontaktnummer: </strong> @Html.DisplayFor(model => model.bookingSystem.ContactPhone)<br />
						<strong>Besöksadress: </strong>@Html.DisplayFor(model => model.bookingSystem.Address),<br />
						@Html.DisplayFor(model => model.bookingSystem.City)
						@Html.DisplayFor(model => model.bookingSystem.PostalCode) 
					</p>
                </div>
                <div class="booking-confirmation-company">
                    <button type="button" class="btn btn-primary bottom-right" data-dismiss="modal"><span class="glyphicon glyphicon-ok-sign"></span> Klar!</button>

                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="mapid" class="booking-confirmation-map">

</div>
<div class="booking-relevantbookings-position">

    <button type="button" class="btn btn-info btn-sm booking-Information-button" data-toggle="modal" style="border-color:ButtonShadow" data-target="#myModal">Bokningsinformation</button>

    @{Html.RenderAction("RelevantBookingSystems", "BookingSystem",
                                  new { bookingSystemId = Model.bookingSystem.BookingSystemId, serviceId = Model.service.ServiceId, bookingId = Model.booking.BookingId, branchAId = Model.branchAId });
    }


</div>






