@*@model SUPEN_Projekt.Models.ViewModel2*@
@model SUPEN_Projekt.Models.BookingSystem

<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<h2>@ViewBag.Message</h2>
@*@<div>
        @{ Html.RenderAction("Index4");
        }
    </div>*@
<table class="table">

    <tr>
        <th>
            Name
        </th>
        <th>
            Duration
        </th>
        <th>
            Price
        </th>
        <th></th>
    </tr>

    @foreach (var i in Model.Services)
    {

        <tr>
            <td>
                @i.ServiceName
            </td>
            <td>
                @i.Duration
            </td>
            <td>
                @i.Price
            </td>
            <td>
                @*@Html.ActionLink("Booking", "CreateBooking", new { id = Model.BookingSystemId }, null)*@
            </td>
        </tr>
    }

</table>
<div id="createbooking">
    @Ajax.ActionLink("Click here to book this service", "CreateBooking", new { id = Model.BookingSystemId },
                         new AjaxOptions {
                             UpdateTargetId = "createbooking",
                             InsertionMode = InsertionMode.Replace,
                             HttpMethod = "GET" },
                         new { @class = "btn bnt-primary"})
</div>




