
@model Tuple<IEnumerable<SUPEN_Projekt.Models.BookingSystem>, IEnumerable<SUPEN_Projekt.Models.Service>>

@{
    ViewBag.Title = "Index4";
}

<h2>Index4</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
   
        <tr>
            <th>
                Name
            </th>
            <th>
                Duration
            </th>
            <th>
                Price
            </th>
            <th></th>
        </tr>

    @foreach (SUPEN_Projekt.Models.Service service in Model.Item2)
    { 
        <tr>
            <td>
                @service.serviceName
            </td>
            <td>
                @service.duration
            </td>
            <td>
                @service.price
            </td>
            <td>
                @Model.Item1 = bookingSystem;
                @Html.ActionLink("Edit", "Edit", new { id = service.ServiceId }) |
                @Html.ActionLink("Details", "Details", new { id = service.ServiceId }) |
                @Html.ActionLink("Delete", "Delete", new { id = service.ServiceId })
                @Html.ActionLink("Booking", "CreateBooking", new { bookingSystem = Model }, new { service = Model })
            </td>
        </tr>
        } 


</table>
