@model IEnumerable<SUPEN_Projekt.Models.BookingSystem>

@{
    ViewBag.Title = "Index2";
}

<h2>Index2</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SystemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SystemDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
   
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.CompanyName, "Index3", new { id=item.BookingSystemId}, null )
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SystemDescription)
        </td>
     
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BookingSystemId }) |
            @Html.ActionLink("Details", "Details", new { id=item.BookingSystemId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BookingSystemId })
        </td>
    </tr>
}

</table>
