@model SUPEN_Projekt.Logic.BookingSystemServicesViewModel

<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<h2>@ViewBag.Message</h2>

<table class="table">

	<tr>
		<th>
			<h3><b>Tjänst</b></h3>
		</th>
	</tr>
	@if (Model.services.Count() > 0) {
		foreach (var i in Model.services) {
			<tr>
				<td>
					@i.ServiceName
				</td>
				<td>@Html.ActionLink("Boka", "BookService", "Service", new { inServiceId = i.ServiceId, inBookingSystemId = Model.bookingSystem.BookingSystemId }, null)</td>
				@*<td>@Html.ActionLink("Book this", "CreateBooking", new { id = Model.bookingSystem.BookingSystemId, name = i.ServiceName }, null)</td>*@
				@*@foreach (var y in i.Bookings) {
					<td>
						<button type="button" class="btn btn-secondary btn-sm">@y.StartTime.ToString("HH:mm")<b>-</b>@y.EndTime.ToString("HH:mm")</button>
					</td>*@
			</tr>
		}
	}
</table>
<div id="createbooking">
</div>









