@model SUPEN_Projekt.Logic.ViewModels.BookingSystemServicesViewModel
@using System.Globalization;
<link href="~/Content/Site.css" rel="stylesheet" />
<div>
	<ol class="breadcrumb">
		<li>@Html.ActionLink("Välj företag", "Index", "BookingSystem")</li>
	</ol>
</div>

<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
@{ string aUrl = Model.bookingSystem.Services.FirstOrDefault().Branch.PictureUrl.Replace(" ", ""); ;

	<h2>@ViewBag.Message</h2>
	<div style="padding-bottom:0.1%; padding-top:0.1%; min-width:310px;background-size: cover; background-image:url( @Url.Content(aUrl)); ">
		<div style="width:auto; height:80%; min-width:100px; margin: auto 35% 2% 2%; background-color:white; opacity:0.9; display:inline-block; ">
			<h3>@Model.bookingSystem.CompanyName</h3>
		</div>

		<div class="panel panel-primary company-info-box-2 align-center" style="height:80%; ">
			<div class="panel-body">
				<br />
				@Model.bookingSystem.Address
				<br />
				@Model.bookingSystem.PostalCode @Model.bookingSystem.City
				<br />
				Epost: @Model.bookingSystem.ContactEmail
				<br />
				Tel. @Model.bookingSystem.ContactPhone
				<br />
			</div>
		</div>
	</div>
}
<h2><b>Vad vill du boka?</b></h2>
<table class="table">


	@if (Model.services.Count() > 0) {
		foreach (var i in Model.services) {
			<tr class="no-Background">
				<td class="no-Border">
					<div class="panel panel-primary" style="min-width:300px;">
						<div class="panel-heading">@i.ServiceName </div>
						<div class="panel-body"><span class="glyphicon">&#xe023;</span>  @i.Duration minuter - @i.Price SEK @Html.ActionLink("Boka", "BookService", "Service", new { inServiceId = i.ServiceId, inBookingSystemId = Model.bookingSystem.BookingSystemId }, new { @class = "btn btn-primary", @style = "float: right" })</div>
					</div>
				</td>
			</tr>
		}
	}

</table>
<div>
	<div id="about" style=" width: 100%;">
		<h3> Om oss</h3>
		<div class="panel panel-primary">
			<div class="panel-body">@Model.bookingSystem.SystemDescription</div>
		</div>
	</div>
	<div id="map">
		<h3>Hitta oss</h3>
		<div id="mapid" style="display:inline; height:45%; width: 66%; position:absolute;">

		</div>
	</div>
</div>




@{
	var culture = new CultureInfo("en-US");
	var latitude = ((decimal)Model.bookingSystem.Latitude).ToString("G", culture);
	var longitude = ((decimal)Model.bookingSystem.Longitude).ToString("G", culture);
	var companyName = Model.bookingSystem.CompanyName;
	var companyId = Model.bookingSystem.BookingSystemId;
}
<script type="text/javascript">
	function myFuncWrapper() {
		myFunc('@latitude', '@longitude', '@companyName', '@companyId');
	}
</script>

<script src="~/Scripts/myleafletmap.js"></script>
