@model SUPEN_Projekt.Logic.ViewModels.BookingSystemServicesViewModel
<div>
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Välj företag", "Index", "BookingSystem")</li>
    </ol>
</div>

<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
@{ string aUrl = Model.bookingSystem.Services.FirstOrDefault().Branch.PictureUrl.Replace(" ", ""); ;

    <h2>@ViewBag.Message</h2>
    <div style="padding-bottom:0.1%; padding-top:0.1%; min-width:310px;background-size: cover; background-image:url( @Url.Content(aUrl)); ">
        @*<img src="@Url.Content(aUrl)" style="height:100%; width:100%;"/>*@
        <div class="company-name" style="width:auto; height:80%; min-width:100px; margin: auto 35% 2% 2%; background-color:white; opacity:0.9; display:inline-block; ">

            
                
                    <h3 >@Model.bookingSystem.CompanyName</h3>
                
                
            
        </div>

        <div class="panel panel-primary company-info-box-2 align-center" style="height:80%; ">

            <div class="panel-body">
                <br />
                @Model.bookingSystem.Address
                <br />
                @Model.bookingSystem.PostalCode @Model.bookingSystem.City
                <br />
                Epost: @Model.bookingSystem.ContactEmail
                <br />
                Tel. @Model.bookingSystem.ContactPhone
                <br />
            </div>
        </div>
    </div>
    }
    <h2><b>Vad vill du boka?</b></h2>
    <table class="table">


        @if (Model.services.Count() > 0)
        {
            foreach (var i in Model.services)
            {
                <tr class="no-Background">
                    <td class="no-Border">
                        <div class="panel panel-primary" style="min-width:300px;">
                            <div class="panel-heading">@i.ServiceName </div>
                            <div class="panel-body"><span class="glyphicon">&#xe023;</span>  @i.Duration minuter - @i.Price SEK @Html.ActionLink("Boka", "BookService", "Service", new { inServiceId = i.ServiceId, inBookingSystemId = Model.bookingSystem.BookingSystemId }, new { @class = "btn btn-primary", @style = "float: right" })</div>
                        </div>
                    </td>


                    @*<td>@Html.ActionLink("Book this", "CreateBooking", new { id = Model.bookingSystem.BookingSystemId, name = i.ServiceName }, null)</td>*@
                    @*@foreach (var y in i.Bookings) {
                        <td>
                            <button type="button" class="btn btn-secondary btn-sm">@y.StartTime.ToString("HH:mm")<b>-</b>@y.EndTime.ToString("HH:mm")</button>
                        </td>*@
                </tr>
            }
        }

    </table>
    <div>
        <h3> Om oss</h3>
        <div class="panel panel-primary" style="width:30%; min-width:200px;">
            <div class="panel-body">@Model.bookingSystem.SystemDescription</div>
        </div>
    </div>
    <div id="createbooking">
    </div>









