@model SUPEN_Projekt.Logic.ViewModels.BookingSystemServicesViewModel
<div>
	<ol class="breadcrumb">
		<li>@Html.ActionLink("Välj företag", "Index", "BookingSystem")</li>
	</ol>
</div>

<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<h2>@ViewBag.Message</h2>
<div style="background-color:blue; padding-bottom:0.1%; padding-top:0.1%">

    <div style="width:20%; height:80%; margin: auto 35% 2% 2%; background-color:transparent; display:inline-block;">
        
        <div class="panel-body">
         <h4 style="color : white">@Model.bookingSystem.CompanyName </h4>
        
        </div>
    </div>

    <div class="panel panel-primary" style="width:30%; height:80%; margin: 1% 7% 1% auto; top: 0; right: 0 ;  display:inline-block">
        
        <div class="panel-body">
            </br>
            @Model.bookingSystem.Address
            </br>
            @Model.bookingSystem.PostalCode @Model.bookingSystem.City
            </br>
            Epost: @Model.bookingSystem.ContactEmail
            </br>
            Tel. @Model.bookingSystem.ContactPhone
            </br>
        </div>
    </div>
</div>


<table class="table">
    <h2><b>Vad vill du boka?</b></h2>

    @if (Model.services.Count() > 0)
    {
        foreach (var i in Model.services)
        {
            <tr class="no-Background">
                <td class="no-Border">
                    <div class="panel panel-primary">
                        <div class="panel-heading">@i.ServiceName </div>
                        <div class="panel-body"><span class="glyphicon">&#xe023;</span>  @i.Duration minuter - @i.Price SEK @Html.ActionLink("Boka", "BookService", "Service", new { inServiceId = i.ServiceId, inBookingSystemId = Model.bookingSystem.BookingSystemId }, new { @class = "btn btn-primary", @style = "float: right" })</div>
                    </div>
                </td>


                @*<td>@Html.ActionLink("Book this", "CreateBooking", new { id = Model.bookingSystem.BookingSystemId, name = i.ServiceName }, null)</td>*@
                @*@foreach (var y in i.Bookings) {
                    <td>
                        <button type="button" class="btn btn-secondary btn-sm">@y.StartTime.ToString("HH:mm")<b>-</b>@y.EndTime.ToString("HH:mm")</button>
                    </td>*@
            </tr>
        }
    }

</table>
<div>
    <h3> Om oss</h3>
    <div class="panel panel-primary" style="width:30%">
        <div class="panel-body">@Model.bookingSystem.SystemDescription</div>
    </div>
</div>
<div id="createbooking">
</div>









