@model IEnumerable<SUPEN_Projekt.Models.BookingSystem>



<h2>@Html.DisplayNameFor(model => model.SystemName)</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.RouteLink(item.CompanyName, new { controller = "ABookingSystem", action = "Index", id = item.BookingSystemId })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BookingSystemId }) |
            @Html.ActionLink("Details", "Details", new { id=item.BookingSystemId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BookingSystemId })
        </td>
    </tr>
}

</table>
