@model SUPEN_Projekt.Logic.BookingSystemsViewModel



<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.bookingSystems.Single().CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bookingSystems.Single().CompanyName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.bookingSystems) {
    <tr>
        <td>
            @Html.RouteLink(item.CompanyName, new { controller = "BookingSystem", action = "BookingSystem", id = item.BookingSystemId }, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
    </tr>
}

</table>
