@model SUPEN_Projekt.Logic.ViewModels.BookingsWithDistanceViewModel

@*<table class="table">*@


@foreach (var item in Model.BookingsWithDistance)
{

    foreach (var i in item.BookingSystem.Services)
    {
        
        foreach (var booking in i.Bookings)
        {
<a href='@Url.Action("BookService","Booking",new {  inBookingSystemId = item.BookingSystem.BookingSystemId, inServiceId = i.ServiceId, inBookingId = booking.BookingId})' class='link-icon btn btn-default' style="width:100%; border-radius: 5px; direction:ltr">

    <h4 style="font-weight: bold; text-align:center; margin-bottom:2px;">
        @i.ServiceName
    
        @if (item.Distance < 1000)
        {
            <p class="list-group-item-text" style="right:2%">  @item.Distance meter</p>
        }
        else
        {
            double distance = item.Distance / 1000;
            <p class="list-group-item-text" style="right:2%"> @Math.Round(distance, 2) km</p>
        }


    </h4>  @Html.DisplayFor(modelItem => item.BookingSystem.CompanyName) <hr style="margin-bottom:2px; margin-top:2px" />
    <p class="list-group-item-text" style="margin-top:5px;"></p>
    <b>
        <span class="glyphicon">&#xe023;</span> @booking.StartTime.ToString("HH:mm") - @booking.EndTime.ToString("HH:mm")
        <br />
        @i.Duration Minuter
    </b>

</a>   
        }
    }             
}




@*<tr>
            @Html.RouteLink(item.CompanyName, new { controller = "ABookingSystem", action = "Index", id = item.BookingSystemId }, null)
            @Html.DisplayFor(modelItem => item.CompanyName)
    </tr>
    <tr>

        <br />
        @Html.DisplayFor(modelItem => item.Address)
        <br />
        @Html.DisplayFor(modelItem => item.PostalCode) @Html.DisplayFor(modelItem => item.City)
        <br />
    </tr>
    <tr>
        @Html.DisplayNameFor(model => model.Email): @Html.DisplayFor(modelItem => item.Email)
        <br />
    </tr>
    <tr>>
        @Html.DisplayNameFor(model => model.PhoneNumber): @Html.DisplayFor(modelItem => item.PhoneNumber)

        <br />
    </tr>*@

