@model SUPEN_Projekt.Logic.BookingsWithDistanceViewModel

@*<table class="table">*@

@if (Model.BookingsWithDistance.Count() != 0)
{
<h4><b>Lediga tider med andra tjänster i närheten</b></h4>
}
@foreach (var item in Model.BookingsWithDistance)
{
<div class="list-group" style="background-color:lavender">
    

    <p href="#" class="list-group-item">
        <h4 class="list-group-item-heading" style="font-weight: bold">
            @Html.DisplayFor(modelItem => item.BookingSystem.CompanyName)
        </h4>
        <p class="list-group-item-text">@item.Distance Meter</p>
        @foreach (var i in item.BookingSystem.Services)
        {
            <p class="list-group-item-text">@i.ServiceName</p>
        }
    </p>
    <p>

        @Html.ActionLink("Boka", "BookingSystem", "BookingSystem", new { id = item.BookingSystem.BookingSystemId }, null)
    </p>
</div>               
}


@*<tr>
            @Html.RouteLink(item.CompanyName, new { controller = "ABookingSystem", action = "Index", id = item.BookingSystemId }, null)
            @Html.DisplayFor(modelItem => item.CompanyName)
    </tr>
    <tr>

        <br />
        @Html.DisplayFor(modelItem => item.Address)
        <br />
        @Html.DisplayFor(modelItem => item.PostalCode) @Html.DisplayFor(modelItem => item.City)
        <br />
    </tr>
    <tr>
        @Html.DisplayNameFor(model => model.Email): @Html.DisplayFor(modelItem => item.Email)
        <br />
    </tr>
    <tr>>
        @Html.DisplayNameFor(model => model.PhoneNumber): @Html.DisplayFor(modelItem => item.PhoneNumber)

        <br />
    </tr>*@

