@model SUPEN_Projekt.Logic.ViewModels.BookingsWithDistanceViewModel

@*<table class="table">*@

@if (Model.BookingsWithDistance.Count() != 0)
{
<h4><b>Lediga tider med andra tjänster i närheten</b></h4>
}
@foreach (var item in Model.BookingsWithDistance)
{
<div class="link-icon btn-default" style="border-radius: 5px; direction:ltr">




    <h4 style="font-weight: bold; text-align:center">
        @Html.DisplayFor(modelItem => item.BookingSystem.CompanyName) <p class="list-group-item-text" style="right:2%"> @item.Distance Meter</p>
    </h4>  <hr />

    @foreach (var i in item.BookingSystem.Services)
    {
        <p class="list-group-item-text">@i.ServiceName</p>
        foreach (var booking in i.Bookings)
        {

            @Html.ActionLink(booking.StartTime.ToString("HH:mm") + "-" + booking.EndTime.ToString("HH:mm"), "BookService", "Booking",
                         new { inBookingSystemId = item.BookingSystem.BookingSystemId, inServiceId = i.ServiceId, inBookingId = booking.BookingId }, new { @class = "btn btn-primary" })


        }

    }



    @Html.ActionLink("Boka", "BookingSystem", "BookingSystem", new { id = item.BookingSystem.BookingSystemId }, null)

</div>               
}


@*<tr>
            @Html.RouteLink(item.CompanyName, new { controller = "ABookingSystem", action = "Index", id = item.BookingSystemId }, null)
            @Html.DisplayFor(modelItem => item.CompanyName)
    </tr>
    <tr>

        <br />
        @Html.DisplayFor(modelItem => item.Address)
        <br />
        @Html.DisplayFor(modelItem => item.PostalCode) @Html.DisplayFor(modelItem => item.City)
        <br />
    </tr>
    <tr>
        @Html.DisplayNameFor(model => model.Email): @Html.DisplayFor(modelItem => item.Email)
        <br />
    </tr>
    <tr>>
        @Html.DisplayNameFor(model => model.PhoneNumber): @Html.DisplayFor(modelItem => item.PhoneNumber)

        <br />
    </tr>*@

