@model IEnumerable<SUPEN_Projekt.Models.BookingSystem>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    @foreach (var item in Model)
    {
        <tr>
        <tr>
            <b>
                @Html.RouteLink(item.CompanyName, new { controller = "ABookingSystem", action = "Index", id = item.BookingSystemId }, null)
                @Html.DisplayFor(modelItem => item.CompanyName)
            </b>
            <br />
        </tr>
        <tr>
            
            <br />
            @Html.DisplayFor(modelItem => item.Address)
            <br />
            @Html.DisplayFor(modelItem => item.PostalCode) @Html.DisplayFor(modelItem => item.City)
            <br />
        </tr>
        <tr>
            @Html.DisplayNameFor(model => model.Email): @Html.DisplayFor(modelItem => item.Email)
            <br />
        </tr>
        <tr>
            @Html.DisplayNameFor(model => model.PhoneNumber): @Html.DisplayFor(modelItem => item.PhoneNumber)

            <br />
        </tr>
        <b> @Html.DisplayNameFor(model => model.Services)</b><br />
        @foreach (var i in item.Services)
        {
            @i.ServiceName <br />
        }
        </tr>
        <br />
        <br />
    }

</table>
