@model SUPEN_Projekt.Logic.ViewModels.BookingSystemServiceBookingViewModel
<div>
	<ol class="breadcrumb">
		<li>@Html.ActionLink("Välj företag", "Index", "BookingSystem")</li>
		<li>@Html.ActionLink("Boka en tjänst", "BookingSystem", "BookingSystem", new { inBookingSystem = Model.bookingSystem.BookingSystemId })</li>
		<li class="active">@Html.ActionLink("Boka en tid", "BookService", "Service", new { inBookingSystemId = Model.bookingSystem.BookingSystemId, inServiceId = Model.service.ServiceId })</li>

	</ol>
</div>
<link href="~/Content/Site.css" rel="stylesheet" />
<br />

<h2><b>@Model.bookingSystem.CompanyName</b></h2>

<div id="ParentDiv">
	<div id="firstDiv">
		<h3><b>@Model.service.ServiceName</b></h3>

		<br />
		<h4><b>Tid:</b> @Model.service.Duration minuter </h4>
		<h4><b>Pris:</b> @Model.service.Price SEK (inkl. moms)</h4>
	</div>



	<div class="panel panel-primary" style="width:30%; height:80%; margin: 1% 7% 1% auto; top: 0; right: 0 ;  display:inline-block">

		<div class="panel-body">
			<br />
			@Model.bookingSystem.Address
			<br />
			@Model.bookingSystem.PostalCode @Model.bookingSystem.City
			<br />
			Epost: @Model.bookingSystem.ContactEmail
			<br />
			Tel. @Model.bookingSystem.ContactPhone
			<br />
		</div>
	</div>
</div>




<div class="row" style="float:left;">

	<h4><b> <span class="glyphicon">&#xe023;</span> Välj en tid</b></h4>


	@*<table class=" col-md-10">*@
	@{
		int open = 8;
		decimal inHours = Convert.ToDecimal(Model.service.Duration) / Convert.ToDecimal(60);
		int iterations = (int)Math.Floor(Convert.ToDecimal(open) / Convert.ToDecimal(inHours));
		DateTime startTime = DateTime.Today;
		startTime = startTime.AddHours(8);

		List<DateTime> dt = new List<DateTime>();

		for (int i = 0; i < iterations; i++) {
			DateTime endTime = startTime;
			endTime = endTime.AddMinutes(Model.service.Duration);
			@*@:<tr>
				@:<th rowspan="2" colspan="4" class="container">*@


			if (!Model.service.Bookings.Any(x => x.StartTime == startTime)) {

				@*<div class="form-group">
							<div class="col-md-offset-2 col-md-10">

								@Html.ActionLink(startTime.ToString("HH:mm") + "-" + endTime.ToString("HH:mm"), "BookService", "Booking",
						 new { inBookingSystemId = Model.bookingSystem.BookingSystemId, inServiceId = Model.service.ServiceId }, new { @class = "btn btn-danger" })

							</div>
						</div>
					} else {*@
				@Html.ActionLink(startTime.ToString("HH:mm") + "-" + endTime.ToString("HH:mm"), "BookService", "Booking",
		 new { inBookingSystemId = Model.bookingSystem.BookingSystemId, inServiceId = Model.service.ServiceId, inStartTime = startTime.ToString() }, new { @class = "btn btn-primary" })
			}
			@*@:</th>
				@:</tr>*@

			startTime = endTime;
		}
	}
	@*</table>*@
</div>


@*<h2>CreateBooking</h2>


	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()

		<div class="form-horizontal">
			<h4>ViewModel4</h4>
			<hr />
			@Html.ValidationSummary(true, "", new { @class = "text-danger" })
			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<input type="submit" value="Create" class="btn btn-default" />
				</div>
			</div>
		</div>
	}

	<div>
		@Html.ActionLink("Back to List", "Index")
	</div>

	@section Scripts {
		@Scripts.Render("~/bundles/jqueryval")
	}efault" />*@
@*</div>
			</div>
		</div>
	}

	<div>
		@Html.ActionLink("Back to List", "Index")
	</div>

	@section Scripts {
		@Scripts.Render("~/bundles/jqueryval")
	}*@
