 @model SUPEN_Projekt.Logic.ViewModels.BookingSystemServiceBookingViewModel
<link href="~/Content/Site.css" rel="stylesheet" />
<br />

<h2><b>@Model.bookingSystem.CompanyName</b></h2>
<hr />

<div id="ParentDiv">
	<div id="firstDiv">
		<h3><b>@Model.service.ServiceName</b></h3>
		<h3><b>@Model.booking.Price</b></h3>
		<br />
		<h4><b>Tid:</b>@Model.service.Duration minuter </h4>
	</div>

	<div id="secondDiv">
		<h4>@Model.bookingSystem.CompanyName</h4>
		<h4>@Model.bookingSystem.Address</h4>
		<h4>@Model.bookingSystem.PostalCode @Model.bookingSystem.City</h4>
		<br />
		<h4>TELEFON</h4>
		<h4>@Model.bookingSystem.PhoneNumber</h4>
	</div>

</div>


<div class="row">
	<div class="col-sm-6">
		<table>
			@foreach (var item in Model.service.Bookings) {
				<tr>
					<th rowspan=" 2" colspan=" 4" class="container">
						@if (item.Available) {
							@Html.ActionLink(item.StartTime.ToString("HH:mm") + "-" + item.EndTime.ToString("HH:mm"), "BookService", "Booking",
									new { inBookingSystemId = Model.bookingSystem.BookingSystemId, inServiceId = Model.service.ServiceId, inBookingId = item.BookingId }, new { @class = "btn btn-success" })

						} else {
							<button type="button" class="btn btn-primary" aria-disabled="false" style="opacity:0.5;">@item.StartTime.ToString("HH:mm")<b>-</b>@item.EndTime.ToString("HH:mm")</button>
						}
					</th>
				</tr>
			}
		</table>
	</div>

	<div class="col-sm-6"></div>
</div>