@model SUPEN_Projekt.Logic.ViewModels.BookingSystemServiceBookingViewModel
<link href="~/Content/Site.css" rel="stylesheet" />
<br />

<h2><b>@Model.bookingSystem.CompanyName</b></h2>

<div id="ParentDiv">
	<div id="firstDiv">
		<h3><b>@Model.service.ServiceName</b></h3>

		<br />
		<h4><b>Tid:</b> @Model.service.Duration minuter </h4>
		<h4><b>Pris:</b> @Model.service.Price SEK (inkl. moms)</h4>
	</div>



	<div class="panel panel-primary" style="width:30%; height:80%; margin: 1% 7% 1% auto; top: 0; right: 0 ;  display:inline-block">

		<div class="panel-body">
			<br />
			@Model.bookingSystem.Address
			<br />
			@Model.bookingSystem.PostalCode @Model.bookingSystem.City
			<br />
			Epost: @Model.bookingSystem.ContactEmail
			<br />
			Tel. @Model.bookingSystem.ContactPhone
			<br />
		</div>
	</div>
</div>




<div class="row" style="float:left;">

	<h4><b> <span class="glyphicon">&#xe023;</span> Välj en tid</b></h4>
	<div class="col-md-6" >
        <table>
            <tr style="border-top:none">
                @{
                    int counter = 0;
                    foreach (var item in Model.service.Bookings)
                    {
                        counter++;


                        <td class="container" style="border-bottom:none">


                            @if (counter < 6)
                            {
                        <tr style="border-bottom:none">
                            <td style="border-top:none"><br /></td>

                        </tr>
                                counter = 1;
                            }

                           


                            @if (item.Available)
                            {
                                @*@Html.ActionLink(item.StartTime.ToString("HH:mm") + "-" + item.EndTime.ToString("HH:mm"), "BookService", "Booking",
                            new { inBookingSystemId = Model.bookingSystem.BookingSystemId, inServiceId = Model.service.ServiceId }, new { @class = "btn btn-primary" });*@


                                @Html.ActionLink(item.StartTime.ToString("HH:mm") + "-" + item.EndTime.ToString("HH:mm"), "BookService", "Booking",
                     new { inBookingSystemId = Model.bookingSystem.BookingSystemId, inServiceId = Model.service.ServiceId, inBookingId = item.BookingId }, new { @class = "btn btn-primary" })



                            }
                            else
                            {
                        
                            <div class="panel panel-primary">
                                <button type="button" class="btn btn-primary">@item.StartTime.ToString("HH:mm") <b>- </b> @item.EndTime.ToString("HH:mm")</button>
                            </div>

                       

                            }

                            </td>
                        }

                }


            </table>

	</div>

	<div class="col-sm-6"></div>
</div>
